<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Kaushan+Script|Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">

</head>
<body>
    <!-- Header -->
    <div class="header">
        <div class="container">
            <h1 style="margin-top:100px">Plot 1: Industrial Temperature vs Time</h1>

            <div style="margin:auto;">
                <iframe width="800" height="450" frameborder="0" seamless="seamless" scrolling="no"
        src="https://plot.ly/~audi/62.embed?width=800&height=450"></iframe>
            </div>
            <h1 style="margin-top:100px">Plot 2: Industrial Heat Flow vs Time</h1>

            <div style="margin:0 auto 50 auto">
                <iframe width="800" height="450" frameborder="0" seamless="seamless" scrolling="no"
        src="https://plot.ly/~audi/65.embed?width=800&height=450"></iframe>
            </div>
            <h1 style="margin-top:100px">Plot 3: Industrial Heat Capacity vs Time</h1>

            <div style="margin:0 auto 50 auto">
                <iframe width="800" height="450" frameborder="0" seamless="seamless" scrolling="no"
        src="https://plot.ly/~audi/70.embed?width=800&height=450"></iframe>
            </div>
            <h1 style="margin-top:100px">Plot 4: Industrial Purge Flow vs Time</h1>

            <div style="margin:0 auto 50 auto">
                <iframe width="800" height="450" frameborder="0" seamless="seamless" scrolling="no"
        src="https://plot.ly/~audi/73.embed?width=800&height=450"></iframe>
            </div>
            <h1 style="margin-top:100px">Plot 5: Industrial Pressure vs Time</h1>

            <div style="margin:0 auto 50 auto">
                <iframe width="800" height="450" frameborder="0" seamless="seamless" scrolling="no"
        src="https://plot.ly/~audi/76.embed?width=800&height=450"></iframe>
            </div>
        </div>
    </div>
</body>

</html>
